@using TornadoMVC.Models
@using TornadoMVC.ViewModels
@model ProductViewModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.Category_Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.Category_Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.old_cost)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.old_cost)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.image_url)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.image_url)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.remains)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.remains)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.creating_date)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.creating_date)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Product.code)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Product.code)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Product.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
